<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="js/jquery-latest.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <link href="css/style.css" rel="stylesheet" media="screen">
        <script src="js/script.js"></script>
        <script src="js/fbsdk_2.js"></script>         
    </head>
    <body>    
        {% block nav %}
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <span id="fbLogout" onclick="fbLogout()">
                    <a class="fb_button fb_button_medium"><span class="fb_button_text">Logout</span></a>
                </span>
                <span id="username"></span>
                <span id="settings"><a href="settings.html"><i class="icon-cog pull-right the-icons"></i></a></span>
            </div>
        </nav>
        {% endblock %}
        <div class="container-fluid">
            {% block heading %}
            <div class="row-fluid">
                <h1 class="center">{{ title }}</h1>
            </div>
            {% endblock %}
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>
