<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="js/jquery-latest.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <link href="css/style.css" rel="stylesheet" media="screen">
        <script src="js/script.js"></script>
        <script src="js/fbsdk_2.js"></script>         
    </head>
    <body>    
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
            <span id="fbLogout" onclick="fbLogout()">
                <a class="fb_button fb_button_medium"><span class="fb_button_text">Logout</span></a>
            </span>
            <span id="username">
            </span>
            </div>
        </nav>
        <div class="container-fluid">
            {% block heading %}
            <div class="row-fluid">
                <h1 class="center">{{ title }}
                    <a href="settings.html"><i class="icon-cog pull-right the-icons"></i></a>
                </h1>
            </div>
            {% endblock %}
            <br>
            {% block content %}
            <div class="row-fluid">    
                <div class="span12">                  
                    <!-- Start input features -->   
                    <form class="center" action="{{ form_action }}" method="post" name="{{ form_name }}">
                        <label>Select an item category</label>
                        <select name="item_category">
                        <option value ='' selected='selected' disabled='disabled'></option>
                        {% for item in categories %}
                        <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                        </select>
                        <!-- Enter {{ cat_unique }} Text Box and Alerts-->
                        <div class="category-unique control-group" style="visibility:hidden; display:none;" id="add_item_2">
                            <label class="help-inline" id="unique-label">{{ cat_unique }}&nbsp;</label>
                            <input class="input-medium" name="item_unique" id="string" type="number" placeholder="Enter an item number">
                            <small><span class="help-inline" id="unique-help"></span></small>
                        </div>
                        <!-- Scan Barcode Button -->
                        <div>
                            <button class="btn btn-primary" type="button" onmousedown="Android.scanSomething();"><i class="icon-barcode icon-white"></i> Scan Barcode</button>
                            <!-- Enter ISBN Button -->                            
                            <button class="btn disabled" type="submit" id="add-item" data-loading-text="Searching"><i class="icon-search"></i> Add Item</button>
                        </div>
                    </form>                    
                </div>                
                <!-- End input features -->   
                                 
                <!-- Alert Box -->
                <div class="span4" id="alertSpace">
                </div>
                <!-- End Alert Box -->
            </div>  
            
            <table>
                <tr>
                    {% for attribute in attributes %}
                    <th>{{attribute.name}}</th>
                    {% endfor %}
                </tr>
                {% for item in items %}
                <tr>
                    {% for key, value in item.iteritems() %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% endblock %}
        </div>
    </body>
</html>
