{% extends "default.html" %}
            {% block content %}
            {% if friends|length %}
            <div class = "table-responsive">
                <table class="table table-striped table-bordered table-centered table-min center">
                    <tr>
                        {% for heading in headings %}<th class="center">{{heading}}</th>{% endfor %}
                    </tr>
                    {% for friend in friends %}<tr>
                        <td><a class="friend" id="{{friend.id}}">{{friend.name}}</a></td>
                    </tr>{% endfor %}
                </table>
            </div>
            {% else %}
            <p class="center">Unfortunately none of your friends are using this app :(</p>
            {% endif %}
            {% endblock content %}
            