{% extends "default.html" %}
            {% block content %}
            {% if friends is defined %}
            <div class = "table-responsive">
                <table class="table table-striped table-bordered table-centered table-min">
                    <tr>
                        {% for heading in headings %}<th>{{heading}}</th>{% endfor %}
                    </tr>
                    {% for friend in friends %}<tr>
                        <td><a class="friend" id="{{friend.id}}">{{friend.name}}</a></td>
                    </tr>{% endfor %}
                </table>
            </div>
            {% else %}
            <p class="center">Unfortunately you have no friends. Perhaps invite them to the app?</p>
            {% endif %}
            {% endblock content %}
            