{% extends "default.html" %}
{% block content %}
<div class = "table-responsive">
    <table class="table table-striped table-bordered table-centered table-min">
        <tr>
            {% for heading in headings %}
            <th>{{heading}}</th>
            {% endfor %}
        </tr>
        {% for friend in friends %}
        <tr>
            <td class="friend" id="{{friend.id}}"><a href="">{{friend.name}}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}