{% extends "default.html" %}
{% block content %}
<div class="row-fluid">    
    <div class="span12">                  
        <!-- Start input features -->   
        <form class="center" action="{{ form_action }}" method="post" name="{{ form_name }}">
            <!-- Enter ISBN Text Box and Alerts-->
            <div class="category-unique control-group" style="visibility:visible; display: block;" id="add_item_2">
                <label class="help-inline" id="unique-label">ISBN&nbsp;</label>
                <input class="input-medium" name="item_unique" id="string" type="number" placeholder="Enter an item number">
                <small><span class="help-inline" id="unique-help"></span></small>
            </div>
            <!-- Scan Barcode Button -->
            <div>
                <button class="btn btn-primary" type="button" onmousedown="Android.scanSomething();"><i class="icon-barcode icon-white"></i> Scan Barcode</button>
                <!-- Enter ISBN Button -->                            
                <button class="btn disabled" type="submit" id="add-item" data-loading-text="Searching"><i class="icon-search"></i> Add Item</button>
            </div>
        </form>                    
    </div>                
    <!-- End input features -->   
                 
    <!-- Alert Box -->
    <div class="span4" id="alertSpace">
    </div>
    <!-- End Alert Box -->
</div>
<div class = "table-responsive">
    <table class="table table-striped table-bordered table-centered table-min">
        <tr>
            {% for attribute in attributes %}
            <th>{{attribute}}</th>
            {% endfor %}
        </tr>
        {% for item in items %}
        <tr>
            {% for key, value in item.iteritems() %}
            <td>{{value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}