{% extends "default.html" %}
            {% block content %}
            {% block add_item %}
            {% endblock add_item %}
            {% if items and items|length %}
            <div class = "table-responsive">
                <table class="table table-striped table-bordered table-centered table-min center">
                    <tr>
                        {% for attribute in attributes %}
                        <th class="center">{{attribute}}</th>
                        {% endfor %}
                        {% if own %}
                        <th>Delete?</th>
                        {% endif %}
                    </tr>
                    {% for item in items %}
                    <tr>
                        <td>{{item.Author}}</td>
                        <td>{{item.Title}}</td>
                        {% if own %}
                        <td><a class="delete" id="{{item.Item_ID}}">x</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <p class="center">No items to display</p>
            {% endif %}
            {% endblock content %}